<a href="https://colab.research.google.com/github/raihanmaulanaazmi/raihanmaulanaazmi/blob/main/Tugas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path="/content/drive/mydrive/machinelearning/Dataset.csv"
Dataset=pd.read_csv(path)
Dataset

                             Dosen  ... Suasana
0        LEDDY FRANS PATTINASARANY  ...  Nyaman
1             ZENDY YARVIN MAITIMU  ...  Nyaman
2                     JOKO NGABEDI  ...  Nyaman
3      IRAWATI RATNASARI SAHERTIAN  ...  Nyaman
4                YANITHA KAPASIANG  ...  Nyaman
...                            ...  ...     ...
23808            ERICK ADAM INUHAN  ...  Nyaman
23809                      HARTONO  ...  Nyaman
23810                   ESAU HUWAE  ...  Nyaman
23811                YAN ANDRIANTO  ...  Nyaman
23812                        HARIS  ...  Nyaman

[23813 rows x 11 columns]

In [2]:
Dataset.head()

                         Dosen                    Mata Kuliah  ... Nilai Suasana
0    LEDDY FRANS PATTINASARANY  Pengantar Teknologi Informasi  ...    60  Nyaman
1         ZENDY YARVIN MAITIMU                            DSS  ...    80  Nyaman
2                 JOKO NGABEDI                     Multimedia  ...   100  Nyaman
3  IRAWATI RATNASARI SAHERTIAN         Pemograman Terstruktur  ...    80  Nyaman
4            YANITHA KAPASIANG                  Struktur Data  ...    70  Nyaman

[5 rows x 11 columns]

In [3]:
Dataset.shape

(23813, 11)

In [4]:
Dataset.isnull().sum()

Dosen               0
Mata Kuliah         0
Kompetensi Dasar    0
Fasilitas           0
Tujuan              0
Jenis Materi        0
IQ Mhs              0
Tingkat Mhs         0
Waktu               0
Nilai               0
Suasana             0
dtype: int64

In [5]:
Dataset.max()

Dosen               ZUBAIDAH HEHANUSSA
Mata Kuliah              Struktur Data
Kompetensi Dasar                     A
Fasilitas                  Ruang Kelas
Tujuan                            Baik
Jenis Materi                     Wajib
IQ Mhs                          90-110
Tingkat Mhs                          5
Waktu                             Sore
Nilai                              100
Suasana                         Nyaman
dtype: object

In [6]:
Dataset.min()

Dosen                   AGUSTINUS RUHULESSIN
Mata Kuliah         Algoritma dan Pemograman
Kompetensi Dasar                           A
Fasilitas                                LAB
Tujuan                                  Baik
Jenis Materi                           Wajib
IQ Mhs                                90-110
Tingkat Mhs                                1
Waktu                                   Pagi
Nilai                                     60
Suasana                               Nyaman
dtype: object

In [7]:
Dataset.describe()

        Tingkat Mhs         Nilai
count  23813.000000  23813.000000
mean       2.405745     79.864150
std        1.324600     12.757734
min        1.000000     60.000000
25%        1.000000     70.000000
50%        2.000000     80.000000
75%        3.000000     90.000000
max        5.000000    100.000000

In [8]:
Data=Dataset.dropna()

In [9]:
Data.shape

(23813, 11)

In [10]:
Dataset.shape

(23813, 11)